:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #002238;
}

.main-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10px auto 70px auto;
}

/* Sección de entrada */
.input-section {    
    box-shadow: 1px 1px 10px 1px #00b4db;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 95%;
    margin: 0 auto 120px auto;
}

/* Títulos */
.main-title {
    font-size: 60px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
    border: 2px solid;
    padding: 20px 30px;
    border-radius: 30px 0 30px 0;
    background-color: #00b4db;
    text-align: center;
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: #00ffff;
    margin: 10px 0;
    text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 15px;
    font-size: 16px;
    border: none;
    box-shadow: 1px 1px 10px 1px #00b4db;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button-add {
    background-color: #00b4db;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 1px 1px 10px 1px #00b4db;
}

.button-add:hover {
    background-color: #00ffff;
    cursor: pointer;
}

/* Listas */
ul {
    width: 90%;
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

#listaAmigos{
    padding: 10px;
    border-radius: 20px;
}

button{
    border: none;
    padding: 10px;
    border-radius: 20px;
}

li{
    border: 2px solid ;
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    font-size: 24px;
    background-color: #004665;
    color: white;
}

.result-list {
    width: 30%;
    padding: 10px 15px;
    border-radius: 15px;
    color: white;
    background-color: #004665;
    box-shadow: 1px 1px 10px 1px #00b4db;
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botón de sortear título */
.button-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.button-draw1{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: #00b4db;
    font-size: 16px;
    border-radius: 20px 20px 0 0;
    border: none;
    gap: 10px;
    justify-content: center;
    border: 2px solid white;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    background-color: #00ffff;
}

.button-draw2{
    align-items: center;
    width: 100%;
    padding: 15px 40px;
    color: var(--color-white);
    background-color: #00b4db;
    font-size: 16px;
    border-radius: 0 0 20px 20px;
    border: none;
    border: 2px solid white;
    font-weight: bold;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.footerPag{
    padding: 30px 0;
    background-color: #00b4db;
    text-align: center;
}

.infoFooter{
    color: white;
    font-size: 24px;
}

@media (max-Width: 1030px){
    .result-list{
        width: 80%;
    }
}

@media (max-Width: 800px){
    .header-banner{
        flex-direction: column;    
    }

    .imagen{
        width: 95%;
    }
}
